@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --side-bar-background: #e0dafe;
  --text-not-selected: #353535;
  --text-selected: #533db9;
  --confirm-form: #382b73;
  --font-poppins: 'Poppins', sans-serif;
  --landing-page-bg: #e7a87c;
  --progress-bg: #e2e0ed;
  --progress-bar-bg: #cac1f6;
  --progress-bar: #513ea7;
  --complete-all: #533db9;
  --delete-all: #a12724;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins)
}

button.not-selected {
  color: var(--text-not-selected);
}

button.not-selected:hover {
  color: var(--text-selected);
}

span.not-selected {
  color: var(--text-not-selected);
}

button.selected {
  color: var(--text-selected);
}

.border-selected {
  border-color: var(--text-selected);
}

.border-not-selected {
  border-color: var(--text-not-selected);
}